.main {
    background: url('/home-page/main-bg.png') no-repeat bottom center / cover;
    padding-bottom: 100px;

    .container {
        padding-top: 92px;
        position: relative;
    }

    &__illustration {
        position: absolute;
        top: 70px;
        right: 60px;
    }

    .offer {
        width: 666px;

        h1 {
            font-size: 60px;
            font-weight: 600;
            line-height: 66px;
        }

        p {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            margin: 30px 0 50px;
        }

        .btn {
            width: 440px;
            height: 68px;
        }
    }
}

.main.darkScreen {
    background: none;
    padding-top: 20px;

    .main__illustration {
        display: none;
    }

    .container {
        padding: 50px;
        border-radius: 30px;
        background: url('/home-page/main-bg-dark.png') no-repeat center / cover;
    }

    .offer {
        color: #fff;

        h1 {
            font-weight: 500;

            span {
                background-image: linear-gradient(to right, #ffffff, #3162e0);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

@import 'responsive.module';
