.main {
  background: url("/home-page/main-bg.png") no-repeat bottom center / cover;
  padding-bottom: 100px;

  &_illustration {
    position: absolute;
    top: 15px;
    right: -50px;
  }
}

.container {
  padding-top: 92px;
  position: relative;
}

.offer {
  width: 666px;

  h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 30px 0 50px;
  }

  .btn {
    width: 440px;
    height: 68px;
  }
}
