.advantages {
    padding: 60px 0 100px;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        //span {
        //    color: #a1a1a1;
        //    font-size: 18px;
        //    font-weight: 600;
        //    display: inline-block;
        //    margin-bottom: 20px;
        //}

        p {
            width: 540px;
            //color: #434343;
            font-size: 18px;
            line-height: 144%;
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        width: 50%;
        display: flex;
        align-items: flex-start;
        padding: 50px 100px 50px 0;

        &:nth-last-child(n + 3) {
            border-bottom: 1px solid #d9d9d9;
        }

        .icon {
            min-width: 125px;
            width: 125px;
            display: flex;
            align-items: center;
        }

        h4 {
            font-size: 20px;
            font-weight: 600;
            color: #3162e0;
            margin-bottom: 16px;
        }

        p {
            font-size: 20px;
            line-height: 132%;
        }
    }
}

@import 'responsive.module';
