.team {
    padding: 60px 0 100px;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        // пока нет сотрудников
        h2 br {
            display: none;
        }

        p {
            width: 645px;
            color: #434343;
            font-size: 16px;
            line-height: 144%;
        }
    }

    // текст вместо слайдера с сотрудниками
    .text {
        font-size: 20px;
        width: 1000px;
    }
    //

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .item {
        padding: 20px 20px 40px;
        border: 2px solid rgb(205, 205, 206);
        border-radius: 25px;
        background-color: #fff;

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 25px;
            margin-bottom: 22px;
        }

        span {
            font-size: 18px;
            color: #7e8282;
        }

        p {
            font-weight: 600;
            margin: 15px 0 10px;
            font-size: 20px;
        }
    }
}

@import 'responsive.module';
